/* YOU DID A NAUGHTY THING AND STYLED THE COLOR FOR SHOP IN NAVBAR INLINE */


/* NAVBAR STYLING */


.menu {
  font-size: 1.5rem;
  position: fixed;
  overflow:visible;
  width: 100%;
  background-color: white;
  z-index: 2;
  top: 0;
  font-family: 'Inconsolata', monospace;
}

.second-section{
  margin-top: 20%;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  font-size: 1.3rem;

}
.artist-pic{
  width: 60%;
  margin: 5% auto;
  position: relative;
  top: 10%;
}
.third-section{
  text-align: center;
  height: 800px;
  width: 80%;
  margin: auto;
  border-style: ridge;
  font-family: 'Inconsolata', monospace;
  overflow: scroll;
}

/* styling for social media logos */
.socials {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  margin-right: 5%
}


.socials a {
  margin: 0 1%;
  color: #7aa8b3;
}
