/* YOU DID A NAUGHTY THING AND STYLED THE COLOR FOR SHOP IN NAVBAR INLINE */


.menu{
  font-size: 1.5rem;
  position: fixed;
  overflow: visible;
  width: 100%;
  background-color: white;
  z-index: 2;
  top: 0;
  font-family: 'Inconsolata', monospace;
}

/* SECTION BELOW IS FOR THE IMAGES ON CONTACT PAGE */

.yourOrder{
  display: flex;
  justify-content: center;
  position: relative;
  top: 150px;
}

img{
  height: 150px;
  display: inline-block;
}

.pictures{
  border-style: ridge;
  height: 320px;
  width: 70%;
  position: relative;
  margin: auto;
  top: 150px;
  overflow: auto;
}

.gallery{
  margin-top:10%;
}

/* class below is to make each individual photo line up beside eachother */
.line{
  display: inline-block;
}

/* END OF IMAGE SECTION */



.formSection{
  margin-top: 20%;
  top: 130px;
  position: relative;
  display: flex;
  justify-content: center;
  height: 800px;
  width: 80%;
  border-style: groove;
  margin: 2% auto;
}
form{
  padding-top: 2%;
  font-family: 'Inconsolata', monospace;

}
