/* YOU DID A NAUGHTY THING AND STYLED THE COLOR FOR SHOP IN NAVBAR INLINE */

/* THIS STYLE PAGE IS USED TO STYLE ALL THREE YEARS  */

/* STYLING FOR NAVBAR */

.menu{
  font-size: 1.5rem;
  position: fixed;
  overflow: visible;
  width: 100%;
  background-color: white;
  z-index: 2;
  top: 0;
  font-family: 'Inconsolata', monospace;
}

/* GIFF STYLING */

.giffBox{
  display: flex;
  justify-content: center;
  margin-top: 283px;
}

.title{
  display: flex;
  justify-content: center;
  padding: 5% 0;
  font-family: 'Inconsolata', monospace;

}
/* STYLING FOR THE BLURB FOR YEAR 2 HTML PAGE BELOW */

.blurb{
  height: 1000px;
  border-style: ridge;
  font-size: 1.5rem;
  overflow: auto;
  width: 85%;
  position: relative;
  margin: auto;
  font-family: 'Inconsolata', monospace;
}

.paragraph{
  margin: 2% 6%;
}

/* SALES ITEM SECTION */
.section-titles{
  margin-left: 3%;
  font-family: 'Inconsolata', monospace;
  position: relative;
  top: 130px;
}

img{
  height: 300px;
}
.productSecton{
  position: relative;
  overflow:auto;
  width: 100%;
  overflow-y: hidden;
}
.slideshow{
  display: flex;
  height: 550px;
  position: relative;
  margin-top: 50px;
}

.blu{
  font-family: 'Inconsolata', monospace;
  height: 550px;
  position: relative;
  margin-top: 50px;
  display: inline-block;
  padding: 6%;
}
/* STYLING FOR THE HEADING OF SALES SECTION */
.itemName{
  color: red;
  display: flex;
  justify-content: center;
}
